html, body, input, button {
    font-family: monospace;
}

body > header {
    top: 0;
    background: #FFF;
    width: 100%;
    padding: 10px 10%;
    border-bottom: 2px solid #DDD;
    position: fixed;
    z-index: 4;
}

#info {
    display:none;
    position: fixed;
    right: 100px;
    top: 10px;
}

#info img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right:0;
}

#workspace {
    margin-top: 90px;
}

#workspace > p {
    text-align: center;
}

.track-space .control {
    float: left;
    width: 250px;
    clear: both;
    background: #F6F6F6;
}

.track-space .control header {
  padding: 4px 20px;
  border-radius: 2px;
  background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #47FFCE),
	    color-stop(1, #7DFF66)
  );
  background-image: -o-linear-gradient(bottom, #47FFCE 0%, #7DFF66 100%);
  background-image: -moz-linear-gradient(bottom, #47FFCE 0%, #7DFF66 100%);
  background-image: -webkit-linear-gradient(bottom, #47FFCE 0%, #7DFF66 100%);
  background-image: -ms-linear-gradient(bottom, #47FFCE 0%, #7DFF66 100%);
  background-image: linear-gradient(to bottom, #47FFCE 0%, #7DFF66 100%);
  color: #2F2F2F;
}

.track-space .control .actions li {
    display: inline-block;
    list-style: none;
    border: 1px solid #000;
    margin: 0;
    float: left;
    width: 50px;
    height: 50px;
    background-position: 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 2px;
    margin: 1px;
}

.track-space .control .actions li:hover {
    box-shadow: 1px 1px;
}

.track-space .control .actions li.active {
    box-shadow: inset 1px 1px 5px;
}

.track-space .control .actions li.active:hover {
    box-shadow: inset 1px 1px 5px;
}

.track-space .control .actions .edit {
    background-image: url('img/edit.svg');
}

.track-space .control .actions .remove {
    background-image: url('img/remove2.svg');
}

.track-space .control .actions .activate {
    background-image: url('img/activate.svg');
}

.track-space .control .actions .mute {
    background-image: url('img/mute.svg');
}

.track-space .control .actions .collapse {
    background-image: url('img/collapse.svg');
}

.track-space .control .actions .export {
    background-image: url('img/export2.svg');
}

.track-space .control .actions {
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    clear: both;
}

.track-space .control .volume input {
    width: 80%;
    margin: 15px;
    margin-left: 10%;
}

.track-space .control .info {
  float: left;
  padding: 0 10px;
}

button {
    background: #D9D9D9;
    padding: 5px 10px;
    text-transform: capitalize;
}

.track {
    border: 1px solid #909090;
    border-bottom: 3px solid #909090;
    border-right: 3px solid #909090;
    padding: 0;
    background: rgba(189, 189, 189, 0.74);
    width: 70%;
    height: 300px;

    margin: 0 auto 20px 15px;
    position: relative;
    float: left;
}

.track.active {
    box-shadow: 0px 0px 6px 5px #FFAF68;
}

.track.collapsed {
    height: 100px;
    overflow: hidden;
    margin-left: 0px;
}

.track.collapsed .wave {
    position: absolute;
    height: 150px;
    top: -50px;
}

.track.collapsed .wave-progress {
    top: -50px;
}

.track.collapsed .wave-progress canvas {
    height: 150px;
}

#workspace.drag {
    border: 5px dashed #7DF8C7;
}

.track p {
    position: absolute;
    top: 30%;
    font-size: 25px;
    color: #72DDB3;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px #8A8A8A;
}

.play-cursor {
    width: 1px;
    border-left: 1px solid #FFA239;
    height: 100%;
    position: absolute;
    left: 0px;
}

.paste-cursor {
    width: 1px;
    border-left: 1px solid #2CE5F5;
    height: 100%;
    position: absolute;
    left: 0px;
    display: none;
}

.selection {
    width: 0px;
    left: 0px;
    height: 100%;
    background: rgba(89, 100, 92, 0.45);
    position: absolute;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-filter: hue-rotate(90deg);
    z-index: 3;
}

.wave-progress {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.wave {
    width: 100%;
    height: 100%;
}

/* .wave-progress canvas { */
/*     min-width: 100%; */
/* } */



/* welcome */
.welcome {
    width: 600px;
    margin: 0 auto;
}
.welcome h2,
.welcome h4 {
    font-family: monospace;
    text-align: center;
}
.welcome a {
    color: #F623F6;
    text-decoration: none;
}

.drawer {
    position: absolute;
    top: -100px;
    right: 35px;
}

.drawer.active {
    top: 50px;
}

.lrg-btn {
    width: 45%;
    float: left;
    border: 1px solid #000;
    min-height: 80px;
    margin: 13px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.lrg-btn.import svg:first-child {
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.lrg-btn.import svg:nth-child(2) {
    margin-left: -20px;
    margin-bottom: 14px;
    transform: rotate(-30deg);
}

.lrg-btn.record h4 {
    display: none;
    color: #fff;
}

.lrg-btn.record svg {
    margin-top: 5px;
}

.lrg-btn:hover {
    box-shadow: 1px 1px;
}

.lrg-btn h4, .lrg-btn p {
    margin: 0;
}

.lrg-btn h4 {
    margin-top: 10%;
}

#import {
    position: absolute;
    left: -1500px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    position: fixed;
    bottom: 0;
    width: 98%;
}

footer a {
    color: #F623F6;
    text-decoration: none;
    float: right;
    margin-bottom: 10px;
}